body {
    background: rgb(43,0,169);
    background: linear-gradient(180deg, rgba(43,0,169,1) 0%, rgba(195,56,255,1) 100%);
}
.container_cubo {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    height: 100vh;
    margin-top: 20%;
}

.piso {
    width: 0%;
    transition: 0.5s;
    opacity: 0;
}
.piso.visible {
    width: 50%;
    opacity: 1;
}
.edificio1 {
    width:19%;
    position: absolute;
    left: 30%;
    top: 22%;
    transition: 0.2s;
    opacity: 0;
}
.edificio1.visible {
    width: 20%;
    opacity: 1;
}

/*
	Containers
*/
#content-wrapper, #example-wrapper {
	height: 100%;
}
.scrollContainer {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%
}
.scrollContainer {
	height: 100%;
	margin: auto;
}
#example-wrapper .scrollContent {
	height: 100%;
}

.horizontal.scrollContainer {
	overflow-y: hidden;
	overflow-x: scroll;
}
#example-wrapper.scrollContainer .scrollContent {
	width: 100%;
	height: auto;
}
#example-wrapper.scrollContainer.horizontal .scrollContent {
	width: auto;
	height: 100%;
}
#example-wrapper.horizontal {
	white-space: nowrap;
	font-size: 0;  /* fix for spaces between inline block divs */
}
#example-wrapper.horizontal div {
	font-size: 13px;
}
#example-wrapper .scrollContent, #example-wrapper.horizontal .scrollContent {
	font-size: 0;
}
#example-wrapper .scrollContent div {
	font-size: 13px;
}
#example-wrapper section {
}